<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Información Personal</ion-card-subtitle>
      <ion-card-title>{{ user.nombre }} {{ user.apellido }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input type="email" value="{{ user.correo }}" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
          <ion-input type="number" value="{{ user.edad }}" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Género</ion-label>
          <ion-input type="text" value="{{ user.genero }}" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input type="text" value="{{ user.direccion }}" disabled></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Datos del Hijo</ion-card-subtitle>
      <ion-card-title>{{ user.nombreHijo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Nombre Completo</ion-label>
          <ion-input type="text" value="{{ user.nombreHijo }}" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
          <ion-input type="number" value="{{ user.edadHijo }}" disabled></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>








